// Search results view styles
.listing{
  margin-top: $gutter*3;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
  .item{
    position: relative;
    border-radius: $border-radius;
    border: 1px solid $secondary-color;
    padding: $gutter;
    margin-bottom: $gutter*2;
    min-height: 350px;

    h3{
      margin: 0;
    }

    .tags-wrapper{
      position: absolute;
      left: 0;
      bottom: 0;
      padding: $gutter/2 $gutter;
    }
  }
}

@media (min-width: 1024px) {
  .listing {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $gutter;
    grid-row-gap: $gutter;
  }
}


// faceting
.facet{
  label{
    cursor: pointer;
  }
  &-toggle{
    display: none;

    + label{
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      &:before, &:after{
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        border-radius: $border-radius;

      }
      &:before{
        left: 0;
        width: 20px;
        height: 20px;
        background-color: $smoke;
      }
      &:after{
        left: 5px;
        width: 12px;
        height: 12px;
        background-color: $primary-color;
        visibility: hidden;
        opacity: 0;
      }
    }

    &:checked + label:after{
      visibility: visible;
      opacity: 1;
    }
  }
  .show-more_toggle{
    input[type=checkbox]{
      display: none;
    }
    label span{
      color: $primary-color;
      text-decoration: underline;
      margin-top: 10px;
      display: inline-block;
    }
  }
}

// bookmarks
.bookmarks{
  padding: $gutter 0 $gutter*2;
  border-bottom: 1px solid $secondary-color;
  .bookmark{
    display: inline-block;
    padding: $gutter/4 $gutter;
    margin-right: 10px;
    background-color: $smoke;
    border-radius: $border-radius;
    cursor: pointer;
  }
}