.nav-pagination{
  padding: 0;
  margin: 0;
  text-align: center;

  li{
    display: inline-block;
    list-style-type: none;
    margin: 0 $gutter/2;
    padding: 8px;
    cursor: pointer;
    color: $primary-color;

    &.current{
      color: $text-dark;
    }

    &:hover{
      text-decoration: underline;
    }
  }

}